<%- include("partials/header") -%>
<div class="container-fluid text-montserrat">
  <div class="box" id="heading">
    <h1 class="text-ubuntu"> <%= dateToday %> </h1>
  </div>

  <div class="box">

    <% newListItems.forEach( (item) =>{ %>
    <form action="/show/<%=item.id %>" method="get">
      <div class="item text-open-sans">
        <input type="checkbox" onchange="this.form.submit()">
        <p class="itemInner text-open-sans"><%= item.name %> </p>
      </div>
    </form>
    <% })%>

    <div class="container text-center pb-1">
      <div class="row">
        <div class="col">
          <form class=" item text-open-sans" action="/" method="post">
            <input type="text" name="newItem" placeholder="Add New Item" autocomplete="off" required>
        </div>
        <div class="col">
          <button class="newItem" type="submit" name="list">+</button>
          </form>
        </div>
      </div>




    </div>
  </div>
</div>

<%- include("partials/footer") -%>
</body>

</html>